.timelineItem {
	display: flex;
}

.date {
	width: 7rem;
	margin-right: 1rem;
	flex-shrink: 0;
	position: relative;
	line-height: 2.2rem;
	margin-top: 0.4rem;
}

.date:after {
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: var(--speaker);
	position: absolute;
	right: -30px;
	top: 8px;
}

.conf {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border-left: 4px solid var(--speaker);
	flex: auto;
	flex-wrap: wrap;
	padding: 0 2rem 6rem;
}

.heading {
	margin: 0;
}