.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid var(--speaker);
	border-radius: 5px;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 16px;
	gap: 10px;
}

.conf {
	margin: 0;
}

.heading {
	background: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px 5px 0 0;
	height: 85px;
	color: var(--speaker);
	font-size: 2rem;
}
