.name {
	font-family: Satoshi;
	font-size: 2rem;
	font-weight: 400;
	line-height: 2.75rem;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	width: 100%;
	box-sizing: border-box;
	margin: 1rem auto 0;
	padding: 2rem 1rem 0;
	max-width: 50rem;
}

.avatar {
	border-radius: 50%;
	border: 5px solid rgba(255, 255, 255, 0.287);
}

.presentation {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 3rem 1rem;
	gap: 2rem;

	/* a {
		text-decoration: none;
	}

	a:focus {
		outline: none;
	}

	a:focus-visible {
		outline: 2px solid #fefefe;
		outline-offset: -1px;
	}

	a:hover {
		text-decoration: underline;
		text-decoration-thickness: 2px;
		text-underline-offset: 3px;
	}

	ul {
		padding: 0;
		margin: 0;
	}

	li::marker {
		font-size: 0;
	} */
}

.text {
	font-size: 2.5rem;
	line-height: 3.5rem;
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 768px) {
	.presentation {
		flex-direction: row;
		padding: 1rem 0 3rem;
	}

	.text {
		font-size: 3.5rem;
		line-height: 4.25rem;
		padding: 2rem;
	}
}
