.accessibility,
.speaker,
.mentoring,
.notes,
.neutral,
.default {
	color: var(--white);

	[aria-current="page"] span {
		background-color: var(--white);
	}
}

.accessibility {
	background-color: var(--accessibility);

	[aria-current="page"] {
		color: var(--accessibility);
	}
}

.speaker {
	background-color: var(--speaker);

	[aria-current="page"] {
		color: var(--speaker);
	}
}

.mentoring {
	background-color: var(--mentoring);

	[aria-current="page"] {
		color: var(--mentoring);
	}
}

.notes {
	background-color: var(--notes);

	[aria-current="page"] {
		color: var(--notes);
	}
}

.neutral {
	color: var(--background);
	background-color: var(--neutral);

	[aria-current="page"] {
		color: var(--accessibility);
		background-color: var(--neutral);
	}
}

.default {
	color: var(--background);
	background-color: var(--white);

	[aria-current="page"] {
		color: var(--white);
		background-color: var(--background);
	}
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

@media screen and (min-width: 500px) {
	.menu {
		flex-direction: row;
	}
}

.menuList {
	margin: 0;
	padding: 0;
	list-style-type: "";
	display: flex;

	& > [aria-current="page"] span {
		font-weight: bold;
		background: var(--white);
		padding: 16px;
	}
}

.heading {
	min-height: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	padding: 32px 16px;
	text-wrap: balance;
}

.neutral .heading,
.default .heading {
	border-color: rgba(0, 0, 0, 0.5);
}

.link {
	text-decoration: none;
	padding: 16px;
	line-height: 1rem;

	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline: 2px solid #fefefe;
		outline-offset: 2px;
	}

	&:hover {
		text-decoration: underline;
		text-decoration-thickness: 2px;
		text-underline-offset: 3px;
	}
}
