.footer {
	background: var(--white);
	color: var(--background);
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	padding: 0.5rem 0;
}

.legal,
.social {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
	list-style-type: '';
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 600px) {
	.legal {
		justify-content: flex-start;
	}
}

.socialLink {
	color: var(--background);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px;
}
